# Eclipse build directories
/Debug
/Release
/Ram usage
/Release_with_extended_lss
/Exporter

# SCons build directories
/.sconsign.dblite
/build_debug
/build_release
/build_exporter

# Some temp files
/exports
*.swp
*.swo
*~

# Python files
*.pyc
